<h3>Verplaatsingen vastleggen</h3>
<button (click)="geoFindMe()">Test: haal je huidige locatie op</button>
<p>
    {{ status }}
</p>
<div *ngIf="mapLink">
    Bekijk in OpenStreetMap je huidige locatie:
    <a href="{{mapLink}}" target="_blank">{{ mapLinkDescr }}</a>
</div>

<button (click)="startTracking()">Begin met traceren</button>
<button (click)="stopTracking()">Stop met traceren</button>
<ul>
<li *ngFor="let move of moves">
    {{ move.latitude }} - {{ move.longitude }} ( {{ move.moveTime }} )
</li>
</ul>
